<%# Top feature image section %>
<header class="feature jumbotron">
  <div class="col left">
    <div class="cta main">
      <p>Sell your used goods for a good cause.
      With Atticus you can help fund your favorite 
      charity simply with the stuff in your house.</p>
       
      <p>Feeling Generous?</p>
      <button class="btn btn-primary btn-large">Sign up</button>
      <button class="btn btn-primary btn-large">Learn more</button>
    </div>
  </div>
  <div class="col right">
    <div class="cta sub">
      <h4>Represent a charity?</h4>
      <p>Learn how easily Atticus can help drive donation traffic to your charity</p>
      <div class="tooltip">Now with analytics!</div>
      <button class="btn btn-secondary btn-medium">Get started ></button>
    </div>
  </div>
</header>

<%# Charity list %>
<div class="charity-list row text-center">
  <div class="intro">
    Some of the charities supported by Atticus
  </div>
  <ul class="charity-icons">
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li class="thumbnail"><a href=""><img src="http://placehold.it/30x30" /></a></li>
    <li><a href="">and many more</a></li>
  </ul>
  <form action="">
    <input type="text" placeholder="Sign Up to Support Your Charity" />
    <input type="submit" value="Submit">
  </form>
</div>

<%# Featured products %>
<div class="featured-products">
  <!-- Title -->
  <div class="row">
      <div class="col-lg-12">
          <h3>Top products (or campaigns or fundraisers)</h3>
      </div>
  </div>
  <!-- /.row -->
  <div class="product-grid">

  <%= render 'items/productcard' %>
  <%= render 'items/productcard' %>
  <%= render 'items/productcard' %>
  <%= render 'items/productcard' %>
  </div>
</div>

<%# Featured campaign %>
<div class="featured-campaign jumbotron">
  <div class="col-md-6 col-sm-12 left">
    <h3>Atticus is helping people around the world</h3>
    <p>Dozens of charities and non-profits are benefiting everyday
    from the 43,483 items being sold on Atticus. Generous people
    like you are making a truly positive impact on people in need
    all across the globe.</p> 
     
    <p>Ready to make a difference?</p>
    <button class="btn btn-primary btn-large">Do some good</button>
  </div>
  <div class="col-md-6 col-sm-12 right">
    <div class="half">
      <div class="tinytext">Featured charity</div>
      <div class="charity-name">
        <img src="http://placehold.it/30x30" class="charity-icon" />
        <span>Red Cross</span>
      </div>
      <img src="images/charity-feature.png" class="charity-feature" />
    </div>
    <div class="half">
      <p>The International Federation of Red Cross and Red Crescent Societies (IFRC) is mounting an international response to provide emergency humanitarian assistance following the devastating earthquake that shook Nepal on the morning of 25 April 2015.</p>
      <p><a href="">You can donate to our Nepal Quake Donation Appeal here.﻿</a></p>
      <button>Learn more about how you can help</button>
    </div>
  </div>
</div>


