<%# Top feature image section %>
<div class="feature">
  <div class="col left">
    <div class="cta main">
      <p>Sell your used goods for a good cause.
      With Atticus you can help fund your favorite 
      charity simply with the stuff in your house.</p>
       
      <p>Feeling Generous?</p>
      <button>Sign up</button>
      <button>Learn more</button>
    </div>
  </div>
  <div class="col right">
    <div class="cta sub">
      <h4>Represent a charity?</h4>
      <p>Learn how easily Atticus can help drive donation traffic to your charity</p>
      <div class="tooltip">Now with analytics!</div>
      <button>Get started ></button>
    </div>
  </div>
</div>

<%# Charity list %>
<div class="charity-list">
  <div class="intro">
    Some of the charities supported by Atticus
  </div>
  <ul class="charity-icons">
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href=""><img src="images/charity-icon.png" /></a></li>
    <li><a href="">and many more</a></li>
  </ul>
  <form action="">
    <input type="text" placeholder="Sign Up to Support Your Charity" />
    <input type="submit" value="Submit">
  </form>
</div>

<%# Featured products %>
<div class="featured-products">
  <div class="product-grid">
  <%#Individual product %>
    <div class="product">
      <div class="product-img">
        <img src="images/product-img.png" />
      </div>
      <div class="overlay">
        <div class="tinytext">
          100% proceeds support
        </div>
        <div class="charity-name">
          <img src="images/charity-icon.png" />
          <a href="">Name of supported charity></a>
        </div>
      </div>
      <div class="product-name">
        <a href="">Product Title</a>
      </div>
      <div class="price">
        $10
      </div>
      <button>Add to basket</button>
    </div>
    <%#End individual product %>
  </div>
</div>

<%# Featured campaign %>
<div class="featured-campaign">
  <div class="col left">
    <h3>Atticus is helping people around the world</h3>
    <p>Dozens of charities and non-profits are benefiting everyday
    from the 43,483 items being sold on Atticus. Generous people
    like you are making a truly positive impact on people in need
    all across the globe.</p> 
     
    <p>Ready to make a difference?</p>
    <button>Do some good</button>
  </div>
  <div class="col right">
    <div class="half">
      <div class="tinytext">Featured charity</div>
      <div class="charity-name">
        <img src="images/charity-icon.png" class="charity-icon" />
        <span>Red Cross</span>
      </div>
      <img src="images/charity-feature.png" class="charity-feature" />
    </div>
    <div class="half">
      <p>The International Federation of Red Cross and Red Crescent Societies (IFRC) is mounting an international response to provide emergency humanitarian assistance following the devastating earthquake that shook Nepal on the morning of 25 April 2015.</p>
      <p><a href="">You can donate to our Nepal Quake Donation Appeal here.﻿</a></p>
      <button>Learn more about how you can help</button>
    </div>
  </div>
</div>


