<%#Individual product card %>
  <div class="product col-md-3 col-sm-6">
    <div class="product-img thumbnail">
      <img src="http://placehold.it/800x150" />
      <div class="overlay">
        <div class="tinytext">
          100% proceeds support
        </div>
        <div class="charity-name">
          <img src="http://placehold.it/30x30" />
          <a href="">Charity name</a>
        </div>
      </div>
      <div class="product-name caption">
        <h4><a href="">Product name</a></h4>
      </div>
      <div class="price">
        $10
      </div>
      <button>Add to basket</button>
    </div>     
    
  </div>
  <%#End individual product card %>
