<a href="/" class="logo-footer">
  <img src="images/logo-footer.png" />
</a>
<div class="footer-bottom">
  <div class="col one">
    <p>Keep up to date on the work Atticus is doing to help make the world a better place and receive the latest news about the good charities we're working with. We promise it's worth it!
    </p>
    <form action="">
      <input type="text" placeholder="Email address" />
      <input type="submit" value="Sign up" />
    </form>
  </div>
  <div class="col two">
    <ul class="footer-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">FAQ</a></li>
      <li><a href="/">Charity Signup</a></li>
      <li><a href="/">Organizations We Work With</a></li>
      <li><a href="/">Seller Login</a></li>
    </ul>
  </div>
  <div class="col three">
    <ul class="footer-menu">
      <li><a href="/">Search the Catalog</a></li>
      <li><a href="/">Contact Us</a></li>
      <li><a href="/">Press Releases</a></li>
      <li><a href="/">Media Kit</a></li>
      <li><a href="/">Terms and Conditions</a></li>
      <li><a href="/">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="col four">
    <ul class="footer-menu">
      <li><a href="/">My Cart</a></li>
      <li><a href="/">Checkout</a></li>
      <li><a href="/">Top Products</a></li>
      <li><a href="/">Top Sellers</a></li>
      <li><a href="/">Top Categories</a></li>
    </ul>
  </div>
  <div class="col five social">
    <h3>Follow Atticus</h3>
    <a href="" class="fb">Like Atticus</a>
    <a href="" class="tw">Follow @Atticus</a>
    <a href="" class="in">Discover @Atticusimg</a>
  </div>
  <div class="col six social">
    <a href="" class="yt">Watch Atticus</a>
    <a href="" class="al">Support Atticus</a>
    <a href="" class="gh">Help develop Atticus</a>
  </div>

</div>
