<a href="/" class="logo">
  <img src="images/logo.png"/>
</a>
<div class="search">
  <select>
    <option>Shop by category</option>
    <option>Shop by charity</option>
    <option>Shop by type</option>
</select>
<%= render 'layouts/partials/nav' %>
<div class="search">
  <form action="">
    <input type="text" placeholder="Search charity/products/categories" />
    <input type="submit">
  </form>
</div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<div class="page-title">
  Page Title
</div>