<div class="top-bar navbar navbar-inverse navbar-fixed-top col-md-12 col-lg-12">
  <!-- <a href="/" class="logo col-md-2">
    <img src="images/logo.png"/>
  </a> -->
  <%= render 'layouts/partials/nav' %>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>